
<h1 class="heeader">Convert Currency</h1>
<div class="jumbotron">
    <div class="container">
        <p class="lead">Convert Your Currency</p>
        <form class="form-inline myform">
            <div class="form-group">
                <input type="number" class="form-control form-input" id="toconvert">
                <div class="form-group mx-sm-3 data"> 
                    <select class="form-control form-row">
                        <option id="eur">NGN</option>
                        <option id="ngn">EUR</option>
                        <option id="usd">CIDI</option>
                        <option id="cidi">USD</option>
                        <option id="yuan">YUAN</option>
                        <option id="pound">PND</option>
                    </select>
                </div>

                <div class="form-group mx-sm-3 data"> 
                    <select class="form-control form-row">
                        <option id="eur">EUR</option>
                        <option id="ngn">NGN</option>
                        <option id="usd">USD</option>
                        <option id="cidi">CIDI</option>
                        <option id="yuan">YUAN</option>
                        <option id="pound">PND</option>
                    </select>
                </div>
                <button class="btn btn-primary" id="convert">Convert</button>
            </div>
        </form>
    </div>
</div>

    

    